In [1]:
import pandas as pd
import numpy as np

In [2]:
products = pd.DataFrame({'product name': ['product 1', 'product 2', 'product 3', 'product 4', 'product 5', 'product 6', 'product 7', 'product 8']})

In [3]:
parts = pd.DataFrame({'part name': ['part 1', 'part 2', 'part 3', 'part 4', 'part 5']})

In [4]:
unit_preorder_cost = pd.DataFrame({'preorder_cost (b)': [np.random.randint(3, 10) for _ in range(5)]})                         # b
unit_production_cost = pd.DataFrame({'production_cost (l)': [np.random.randint(1, 10) for _ in range(8)]})                     # l
unit_price = pd.DataFrame({'price (q)': [np.random.randint(1, 10) for _ in range(8)]})                                         # q
salvage_val = pd.DataFrame({'salvage value (s)': [np.random.randint(1, unit_preorder_cost.iloc[i, 0] - 1) for i in range(5)]}) # s
matrix_A = pd.DataFrame(np.random.randint(1, 10, (8, 5)), columns=parts['part name'], index=products['product name'])          # A (n x m)

demand = pd.DataFrame({'demand[1] (d_1)': np.random.binomial(10, 0.5, size=8)})
# demand_2 = pd.DataFrame({'demand[2] (d_2)': np.random.binomial(10, 0.5, size=8)})
# probability = pd.DataFrame({'probability' : [0.5, 0.5]}, index=['scenario 1' , 'scenario 2'])

In [5]:
# unit_preorder_cost

In [6]:
# unit_production_cost

In [7]:
unit_price

   price (q)
0          5
1          3
2          1
3          1
4          7
5          4
6          1
7          9

In [8]:
# salvage_val

In [9]:
# demand

In [10]:
# matrix_A

In [11]:
from gamspy import Container, Set, Parameter, Variable, Equation, Model, Sum, Sense

In [12]:
prob1 = Container()

In [13]:
i = Set(container=prob1, name="products", records=products)
j = Set(container=prob1, name="parts", records=parts)

In [14]:
b = Parameter(
    container=prob1,
    name="b",
    domain=j,
    description="pre-order cost per unit of part j",
    records=np.array(unit_preorder_cost),
)

l = Parameter(
    container=prob1,
    name="l",
    domain=i,
    description="production cost per unit for product i",
    records=np.array(unit_production_cost),
)

q = Parameter(
    container=prob1,
    name="q",
    domain=i,
    description="revenue (selling price) per unit for product i",
    records=np.array(unit_price),
)

s = Parameter(
    container=prob1,
    name="s",
    domain=j,
    description="salvage values per unit for part j that is not used in production",
    records=np.array(salvage_val),
)

A = Parameter(
    container=prob1,
    name="number",
    domain=[i, j],
    description="A unit of product i requires aij >= 0 units of part j",
    records=np.array(matrix_A),
)

d = Parameter(
    container=prob1,
    name="demand",
    domain=i,
    description="Demand of product i",
    records=np.array(demand),
)

In [15]:
x = Variable(
    container=prob1,
    name="x",
    domain=j,
    type="Positive",
    description="numbers of parts to be ordered before production",
)

y = Variable(
    container=prob1,
    name="y",
    domain=j,
    type="Positive",
    description="number of parts left in inventory",
)

z = Variable(
    container=prob1,
    name="z",
    domain=i,
    type="Positive",
    description="number of units produced,",
)

In [16]:
relationship = Equation(
    container=prob1,
    name="relationship",
    domain=j,
    description="formula to get the number of parts left in inventory",
)

demand_satis = Equation(
    container=prob1,
    name="demand_satisfying",
    domain=i,
    description="demand satisfaction"
)

In [17]:
relationship[j] = y[j] == x[j] - Sum(i, A[i, j]*z[i])
demand_satis[i] = z[i] <= d[i]

In [18]:
# Q_x = Sum(i, (l[i] - q[i])*z[i]) - Sum(j,s[j]*y[j])

In [19]:
g_x = Sum(j, b[j]*x[j]) + Sum(i, (l[i] - q[i])*z[i]) - Sum(j,s[j]*y[j])

In [20]:
tuandeptrai = Model(
    prob1,
    name="tuandeptrai",
    equations=prob1.getEquations(),
    problem="MIP",
    sense=Sense.MIN,
    objective=g_x,
)

In [21]:
import sys

tuandeptrai.solve(output=sys.stdout)

--- Job _job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms Start 11/29/23 16:48:53 45.3.0 c4c31d8a WEX-WEI x86 64bit/MS Windows
--- Applying:
    C:\Users\lequo\AppData\Local\Programs\Python\Python312\Lib\site-packages\gamspy_base\gmsprmNT.txt
--- GAMS Parameters defined
    LP CPLEX
    MIP CPLEX
    RMIP CPLEX
    NLP CONOPT
    MCP PATH
    MPEC NLPEC
    RMPEC CONVERT
    CNS CONOPT
    DNLP CONOPT
    RMINLP CONOPT
    MINLP SBB
    QCP CONOPT
    MIQCP SBB
    RMIQCP CONOPT
    EMP CONVERT
    Input C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms
    Output C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.lst
    Save C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_save_99d197e0-c6ee-4ad4-bd92-d660f8dd3184.g00
    ScrDir C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\225a\
    SysDir C:\Users\lequo\AppData\Local\Programs\Python\Python312\Lib\site-packages\gamspy_base\
    CurDir C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\
    LogOption 3
    LogFile C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.log
Licensee: GAMS Demo, for EULA and demo limitations see   G230930/0001CB-GEN
          https://www.gams.com/latest/docs/UG%5FLicense.html         DC0000
          C:\Users\lequo\AppData\Local\Programs\Python\Python312\Lib\site-packages\gamspy_base\gamslice.txt
          Demo license for demonstration and instructional purposes only
Processor information: 1 socket(s), 4 core(s), and 8 thread(s) available
GAMS 45.3.0   Copyright (C) 1987-2023 GAMS Development. All rights reserved
--- Starting compilation
--- _job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms(3) 2 Mb
--- GDXin=C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_gdx_in_99d197e0-c6ee-4ad4-bd92-d660f8dd3184.gdx
--- GDX File ($gdxIn) C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_gdx_in_99d197e0-c6ee-4ad4-bd92-d660f8dd3184.gdx
--- _job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms(129) 3 Mb
--- Starting execution: elapsed 0:00:00.019
--- Generating MIP model tuandeptrai
--- _job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms(38) 4 Mb
---   14 rows  19 columns  75 non-zeroes
--- Range statistics (absolute non-zero finite values)
--- RHS       [min, max] : [ 3.000E+00, 7.000E+00] - Zero values observed as well
--- Bound     [min, max] : [        NA,        NA] - Zero values observed as well
--- Matrix    [min, max] : [ 1.000E+00, 9.000E+00]
--- Executing CPLEX (Solvelink=2): elapsed 0:00:00.024

IBM ILOG CPLEX   45.3.0 c4c31d8a Nov 11, 2023          WEI x86 64bit/MS Window

*** This solver runs with a demo license. No commercial use.
--- GMO setup time: 0.00s
--- GMO memory 0.50 Mb (peak 0.50 Mb)
--- Dictionary memory 0.00 Mb
--- Cplex 22.1.1.0 link memory 0.00 Mb (peak 0.00 Mb)
--- Starting Cplex

Version identifier: 22.1.1.0 | 2022-11-27 | 9160aff4d
CPXPARAM_Advance                                 0
CPXPARAM_Simplex_Display                         2
CPXPARAM_Threads                                 1
CPXPARAM_MIP_Display                             4
CPXPARAM_MIP_Pool_Capacity                       0
CPXPARAM_MIP_Tolerances_AbsMIPGap                0
Tried aggregator 1 time.
LP Presolve eliminated 13 rows and 19 columns.
All rows and columns eliminated.
Presolve time = 0.00 sec. (0.01 ticks)

--- LP status (1): optimal.
--- Cplex Time: 0.00sec (det. 0.01 ticks)


Optimal solution found
Objective:            0.000000

--- Reading solution for model tuandeptrai
--- Executing after solve: elapsed 0:00:00.069
--- _job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms(129) 4 Mb
--- GDX File (execute_unload) C:\Users\lequo\AppData\Local\Temp\tmpulz7peo5\_gdx_out_99d197e0-c6ee-4ad4-bd92-d660f8dd3184.gdx
*** Status: Normal completion
--- Job _job_07ce0cc8-525c-4aa9-a848-0f323b5ac6d0.gms Stop 11/29/23 16:48:53 elapsed 0:00:00.071

In [22]:
tuandeptrai.objective_value

0.0

In [24]:
x.records

    parts  level  marginal  lower  upper  scale
0  part 1    0.0       0.0    0.0    inf    1.0
1  part 2    0.0       0.0    0.0    inf    1.0
2  part 3    0.0       0.0    0.0    inf    1.0
3  part 4    0.0       0.0    0.0    inf    1.0
4  part 5    0.0       0.0    0.0    inf    1.0

In [25]:
y.records

    parts  level  marginal  lower  upper  scale
0  part 1    0.0       7.0    0.0    inf    1.0
1  part 2    0.0       2.0    0.0    inf    1.0
2  part 3    0.0       2.0    0.0    inf    1.0
3  part 4    0.0       3.0    0.0    inf    1.0
4  part 5    0.0       2.0    0.0    inf    1.0

In [26]:
z.records

    products  level  marginal  lower  upper  scale
0  product 1    0.0     183.0    0.0    inf    1.0
1  product 2    0.0     151.0    0.0    inf    1.0
2  product 3    0.0     160.0    0.0    inf    1.0
3  product 4    0.0     198.0    0.0    inf    1.0
4  product 5    0.0     194.0    0.0    inf    1.0
5  product 6    0.0     179.0    0.0    inf    1.0
6  product 7    0.0     163.0    0.0    inf    1.0
7  product 8    0.0     142.0    0.0    inf    1.0

In [27]:
d.records

    products  value
0  product 1    5.0
1  product 2    6.0
2  product 3    6.0
3  product 4    3.0
4  product 5    7.0
5  product 6    7.0
6  product 7    7.0
7  product 8    4.0